# ESP-IDF ignore files
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock

# VS Code ignore files
.vscode/
*.code-workspace

# Python ignore files
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js / Frontend (website_smart_parking)
node_modules/
dist/
*.local

# System & IDE files
.DS_Store
Thumbs.db
.idea/

# Smart Parking specific
*.exe
*.log
*.db
license_plate_recognize/lisence-plate/notebook/
